.admin-left {
  width: 244px;
  height: calc(100vh - 70px);
  border-right: 0.75px solid black;
}

.admin-nav {
  width: 200px;
  margin-top: 10px !important;
}

.admin-nav nav {
  box-sizing: border-box;
  color: #fff;
  width: 100%;
  height: 50px;
  text-align: center;
  padding: 14px;
  cursor: pointer;
}

@keyframes nav-slide {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.admin-tech {
  display: flex;
  position: relative;
  flex-direction: column;
  border-left: 0.75px solid #244497;
  border-right: 1px solid #244497;
}

.admin-tech-show {
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.admin-tech-hide {
  display: none;
  transition: 1s;
}

.admin-tech-nav {
  background-color: #fff;
  color: #244497 !important;
}
.admin-content {
  width: 100%;
  height: 100%;
}

.admin-content-header {
  color: #fff;
  box-sizing: border-box;
  padding: 20px 0 20px 42px;
}

.admin-notice-register {
  margin: 10px 0 10px 55px;
  width: 90px;
  height: 45px;
  color: #fff;
  cursor: pointer;
}

.admin-notice-register:hover {
  background-color: #3f5998;
}

.admin-content-main {
  border: 0.75px solid #000;
  height: 850px;
  margin: 0 55px;
}

.admin-content-list {
  border-bottom: 0.75px solid #000;
  width: 100%;
  height: 44px;
  padding-top: 11px;
  box-sizing: border-box;
}

.admin-content-number {
  width: 60px;
  height: 100%;
  text-align: center;
}

.admin-content-title {
  width: 80%;
}

.admin-content-date {
  width: 200px;
  text-align: center;
  justify-content: center;
}
